/* Styles de base pour la mise en page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #2A4D69;;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Centrage du formulaire */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    background-color: #2A4D69;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
}

/* Disposition en deux colonnes */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Bouton de soumission en pleine largeur */
.submit-button {
    grid-column: span 2; 
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

.modal {
    display: none; /* Cacher par défaut */
    position: fixed; /* Rester en place */
    z-index: 1; /* Au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; /* Largeur de la fenêtre */
    height: 100%; /* Hauteur de la fenêtre */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec transparence */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% depuis le haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de la modale */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}