#map {
    width: 70%;  
    height: 550px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.center {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 95%;
    margin-bottom: 10px;
}

#right-section {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 30%;
    height: 550px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: Arial, sans-serif;
}