html{
    margin: 0px;
    padding: 0px;
    background-color: #2A4D69;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    background-color: #F4F4F4;
    border-radius: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo-container {
    display: flex;
    margin-left: 0.5%;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 60px;
}

.divider-left {
    border-left: 1px solid #F5A623;
    height: 50px;
    margin-left: 15px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 24px;
}

.accueil-container {
    display: flex;
    margin-right: 0.5%;
}

.divider-right {
    border-right: 1px solid #F5A623;
    height: 50px;
    margin-right: 15px;
}

.accueil-link {
    display: flex;
    align-items: center;
}

.accueil-img {
    width: 30px;
}

.nav-links a {
    position: relative;
    color: #000;
    text-decoration: none;
}

.nav-links a:hover {
    color: #000;
}

.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F5A623;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::before {
    transform: scaleX(1);
}

.divider-right {
    border-right: 3px solid #F5A623;
    height: 50px;
    margin-right: 15px;
}

.divider-left {
    border-left: 3px solid #F5A623;
    height: 50px;
    margin-left: 15px;
}