<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estimer un bien / tEstim</title>
    <link rel="icon" href="../static/image/logo.webp" type="image/x-icon">
</head>
<body style="display: flex; flex-direction: column; align-items: center;">

    <div style="width: 95%; margin-top: 1%;">
        {% include 'header.html' %}
    </div>

    <div>
        <h2>Estimation d'un bien</h2>
    </div>
    {% include 'footer.html' %}
</body>
</html>
