<footer style="display: flex; flex-direction: column; background-color: #F5A623;">
    <div style="display: flex; justify-content: center; gap: 20px; align-items: center; margin: 10px; margin-bottom: 5px;">
        <a href="#" style="color: white; text-decoration: none;">À propos</a>
        <a href="#" style="color: white; text-decoration: none;">Contact</a>
        <a href="#" style="color: white; text-decoration: none;">Conditions d'utilisation</a>
        <a href="#" style="color: white; text-decoration: none;">Politique de confidentialité</a>
    </div>
    <div style="display: flex; justify-content: center; margin: 10px; margin-top: 5px;">
        <p style="color: white; margin: 0px;">&copy; 2024 tEstim - Tous droits réservés.</p>
    </div>
</footer>
