<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/styles.css">

<header>
    <div class="header-container">
        <nav class="navbar">
            <div class="logo-container">
                <a href="/" class="logo-link">
                    <img src="../static/image/darkened_logo_testim.png" alt="logo" class="logo-img">
                </a>
                <div class="divider-left"></div>
            </div>

            <div class="nav-links">
                <a href="/estimerbien">Estimer un bien</a>
                <a href="/map">Consulter des biens</a>
            </div>


            <div class="accueil-container">
                <div class="divider-right"></div>
                <a href="/" class="accueil-link">
                    <img src="../static/image/accueil.png" alt="accueil" class="accueil-img">
                </a>
            </div>

        </nav>
    </div>
</header>