<header>
    <div style="background-color: #F4F4F4;">
        <nav style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
            <a href="/">
                <img src="../static/image/logo.webp" alt="logo" style="width: 50px;">
            </a>

            <div style="display: flex; gap: 15px;">
                <a href="/estimerbien">Estimer Bien</a>
                <a href="/map">Map</a>
            </div>

            <a href="/">
                <img src"../static/image/accueil.png"  style="width: 50px;">
            </a>
        </nav>
    </div>
</header>
