<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil / tEstim</title>
    <link rel="icon" href="../static/image/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body style="display: flex; flex-direction: column; align-items: center; margin: 0px;">
    <div style="width: 95%; margin-top: 1%;">
        {% include 'header.html' %}
    </div>

    <div style="width: 100%;">
        <h2>Page d'accueil</h2>
        <p>Bienvenue sur notre plateforme d'estimation immobilière.</p>
    </div>
    
    <div style="width: 100%; margin: 0px; position: fixed; bottom: 0;">
        {% include 'footer.html' %}
    </div>
    
</body>
</html>
