<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/image/darkened_logo_testim.png" type="image/x-icon">
    <title>Consulter un bien / tEstim</title>

    <!-- Inclure le CSS de Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="../static/css/map.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <div style="width: 95%; margin-top: 30px;">
        {% include 'header.html' %}
    </div>
  
    <div class="center">
        <div id="map"></div>
        <div id="right-section">
            <h3>Details</h3>
        </div>
    </div>
   
    <br/>
    <div style="width: 100%; margin: 0px;">
        {% include 'footer.html' %}
    </div>
</body>
</html>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

<script>
    // Initialisation de la carte centrée sur Bordeaux
    var map = L.map('map').setView([44.8378, -0.5792], 13);

    // Ajouter les tuiles OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Charger les données JSON contenant les villes et leurs coordonnées
    Papa.parse('static/CSV/communes_filtres.csv', {
        header: true,
        download: true,
        complete: function(results) {
            results.data.forEach(city => {
                // Vérifier que les coordonnées existent
                if (city.LATITUDE != "Null" && city.LONGITUDE != "Null") {
                    // Créer un marqueur pour chaque ville
                    var marker = L.marker([parseFloat(city.LATITUDE), parseFloat(city.LONGITUDE)]).addTo(map);
                    // Ajouter un popup avec le nom de la ville
                    marker.bindPopup(`<b>${city.NOM_COM_M} : ${city.PrixMoyen_M2}/m²</b>`);
                }
            });
        },
        error: function(error) {
            console.error("Erreur lors du chargement du CSV :", error);
        }
    });
</script>
